@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

/*===========================Шрифты========================*/
@font-face {
  font-family: "Ruberoid";
  font-weight: 400;
  font-style: normal;
  src: local("Ruberoid"), url("../fonts/Ruberoid-Regular.woff2") format("woff2"), url("../fonts/Ruberoid-Regular.woff") format("woff"), url("../fonts/Ruberoid-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  font-weight: 400;
  font-style: normal;
  src: local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  font-weight: 600;
  font-style: normal;
  src: local("ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  font-weight: 700;
  font-style: bold;
  src: local("ProximaNova_bold"), url("../fonts/ProximaNova_bold.woff2") format("woff2"), url("../fonts/ProximaNova_bold.woff") format("woff"), url("../fonts/ProximaNova_bold.eot") format("eot");
  font-display: swap;
}
/*===========================Шрифты========================*/
/*========================Header__Top=================*/
/*========================Header__Top=================*/
/*========================Services=================*/
/*========================General======================*/
/*========================General======================*/
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1201px;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  font-family: "Ruberoid";
  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
}

.title-h2 {
  font-family: "Ruberoid";
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  color: #495E4C;
}

/*========================Header======================*/
/*========================Header__Top=================*/
.header {
  background: 700px 0px/cover no-repeat url("../images/header/header__picture.jpg"), -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), color-stop(16.25%, #F0F2F1), color-stop(43.26%, #EBEDEC), color-stop(72.5%, #E6E8E7), to(#DEE2E1));
  background: 700px 0px/cover no-repeat url("../images/header/header__picture.jpg"), -o-linear-gradient(top, #F1F1F1 0%, #F0F2F1 16.25%, #EBEDEC 43.26%, #E6E8E7 72.5%, #DEE2E1 100%);
  background: 700px 0px/cover no-repeat url("../images/header/header__picture.jpg"), linear-gradient(180deg, #F1F1F1 0%, #F0F2F1 16.25%, #EBEDEC 43.26%, #E6E8E7 72.5%, #DEE2E1 100%);
  /*========================Header__Body=================*/
}
.header__top {
  position: relative;
  padding-top: 26px;
}
.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__top-logo {
  margin-right: 156px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 646px;
  margin-right: 142px;
}
.header__menu-item {
  margin-right: 40px;
}
.header__menu-a {
  font-family: "ProximaNova";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #495E4C;
}
.header__menu-item:last-child {
  margin-right: 0px;
}
.header__top-btn {
  background: #5CCD6A;
  font-family: "Ruberoid";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 190px;
  height: 55px;
  border-radius: 17px;
  color: #FFFFFF;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
          box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
}
.header__top-btn:hover {
  background: #54E165;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.header__body {
  padding-top: 85px;
  position: relative;
}
.header__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 523px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__body-title {
  text-align: right;
  color: #495E4C;
}
.header__body-company {
  margin-top: 5px;
  color: #78C081;
}
.header__body-text {
  position: relative;
  padding-left: 50px;
  text-align: left;
  font-family: "ProximaNova";
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  color: #495E4C;
  color: #7CA381;
  margin-bottom: 52px;
}
.header__body-text::before {
  content: url(../images/header/3_ellipse.svg);
  position: absolute;
  top: -2px;
  left: -12px;
}
.header__body-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #495E4C;
  color: #7B897D;
}
.header__connection-geo {
  position: relative;
  margin-right: 127px;
}
.header__connection-geo::before {
  position: absolute;
  content: url(../images/header/header_geolocation.svg);
  left: -48px;
  top: 8px;
}
.header__connection-number {
  position: relative;
}
.header__connection-number::before {
  position: absolute;
  content: url(../images/header/header_phone2.svg);
  left: -54px;
  top: 8px;
}
.header__body-button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 78px;
  padding-bottom: 79px;
}
.header__body-btn {
  background: #5CCD6A;
  font-family: "Ruberoid";
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  width: 447px;
  height: 85px;
  border-radius: 30px;
  color: #FFFFFF;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
          box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
}
.header__body-btn:hover {
  background: #54E165;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/*========================Services======================*/
/*========================Services__about================*/
.services {
  /*====================Services__details==================*/
}
.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__about {
  max-width: 447px;
  margin-top: 169px;
  margin-right: 110px;
}
.services__about-title {
  position: relative;
  color: #495E4C;
}
.services__about-title::before {
  content: url(../images/services/services_line.svg);
  position: absolute;
  right: 0px;
  bottom: 12px;
}
.services__about-txt {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #495E4C;
  color: #848484;
  margin-top: 22px;
}
.services__text {
  margin-bottom: 37px;
}
.services__details {
  padding-top: 100px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services__tabs-fan {
  position: relative;
  background: #FFFFFF;
  font-family: "Ruberoid";
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  width: 65px;
  height: 233px;
  border-radius: 17px;
  color: #5CCD6A;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
          box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
  border-radius: 40px 0 0 0;
  -webkit-box-shadow: -5px -5px 0px 5px #D9FADD;
          box-shadow: -5px -5px 0px 5px #D9FADD;
}
.services__tabs-cond {
  position: relative;
  background: #FFFFFF;
  font-family: "Ruberoid";
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  width: 65px;
  height: 233px;
  border-radius: 17px;
  color: #5CCD6A;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
          box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
  border-radius: 0 0 0 40px;
  -webkit-box-shadow: -5px 5px 0px 5px #D9FADD;
          box-shadow: -5px 5px 0px 5px #D9FADD;
}
.services__btn-def.active {
  background: #5CCD6A;
  font-family: "Ruberoid";
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  width: 65px;
  height: 233px;
  color: #FFFFFF;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
.services__btn-fan {
  position: absolute;
  rotate: -90deg;
  font-family: "ProximaNova";
  white-space: nowrap;
  right: -35px;
  bottom: 85px;
}
.services__btn-fan::after {
  position: absolute;
  content: url(../images/services/services_fan.svg);
  right: -50px;
  top: -8px;
}
.services__btn-cond {
  position: absolute;
  rotate: -90deg;
  font-family: "ProximaNova";
  white-space: nowrap;
  right: -35px;
  bottom: 85px;
}
.services__btn-cond::after {
  position: absolute;
  content: url(../images/services/services_conditioner.svg);
  rotate: 90deg;
  right: -50px;
  top: -8px;
}
.services__content {
  height: 655px;
  width: 676px;
}
.services__content-block {
  display: none;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#D9FADD));
  background: -o-linear-gradient(#D9FADD);
  background: linear-gradient(#D9FADD);
  border-radius: 65px 0 0 65px;
}
.services__content-block.active {
  display: block;
}
.services__container {
  position: relative;
  max-width: 307px;
  height: 655px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 89px;
  padding-top: 113px;
  padding-bottom: 114px;
  /* transition: .5s all; */
}
.services__fan-txt {
  font-family: "ProximaNova";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #495E4C;
}
.services__fan-pic1::before {
  position: absolute;
  content: url(../images/services/fan_1.svg);
  left: -50px;
}
.services__fan-pic2::before {
  position: absolute;
  content: url(../images/services/fan_2.svg);
  left: -50px;
}
.services__fan-pic3::before {
  position: absolute;
  content: url(../images/services/fan_3.svg);
  left: -50px;
}
.services__fan-pic4::before {
  position: absolute;
  content: url(../images/services/fan_4.svg);
  left: -50px;
}
.services__fan-pic5::before {
  position: absolute;
  content: url(../images/services/fan_5.svg);
  left: -50px;
}
.services__fan-pic6::before {
  position: absolute;
  content: url(../images/services/fan_6.svg);
  left: -50px;
}
.services__fan-img {
  -webkit-box-shadow: -4px 0px rgba(15, 44, 15, 0.35);
          box-shadow: -4px 0px rgba(15, 44, 15, 0.35);
}
.services__fan-img img {
  top: 0;
  right: 0;
  position: absolute;
  width: 240px;
  height: 655px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 61.5% 50%;
     object-position: 61.5% 50%;
  border-radius: 65px 0 0 65px;
  -webkit-box-shadow: -4px 0px 10px 1px rgba(15, 44, 15, 0.35);
          box-shadow: -4px 0px 10px 1px rgba(15, 44, 15, 0.35);
}
.services__cond-txt {
  font-family: "ProximaNova";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #495E4C;
}
.services__cond-img {
  -webkit-box-shadow: -4px 0px rgba(15, 44, 15, 0.35);
          box-shadow: -4px 0px rgba(15, 44, 15, 0.35);
}
.services__cond-img img {
  top: 0;
  right: 0;
  position: absolute;
  width: 240px;
  height: 655px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 61.5% 50%;
     object-position: 61.5% 50%;
  border-radius: 65px 0 0 65px;
  -webkit-box-shadow: -4px 0px 10px 1px rgba(15, 44, 15, 0.35);
          box-shadow: -4px 0px 10px 1px rgba(15, 44, 15, 0.35);
}
.services__cond-pic1::before {
  position: absolute;
  content: url(../images/services/conditioner_1.svg);
  left: -50px;
}
.services__cond-pic2::before {
  position: absolute;
  content: url(../images/services/conditioner_2.svg);
  left: -50px;
}
.services__cond-pic3::before {
  position: absolute;
  content: url(../images/services/conditioner_3.svg);
  left: -50px;
}
.services__cond-pic4::before {
  position: absolute;
  content: url(../images/services/conditioner_4.svg);
  left: -50px;
}
.services__cond-pic5::before {
  position: absolute;
  content: url(../images/services/conditioner_5.svg);
  left: -50px;
}
.services__cond-pic6::before {
  position: absolute;
  content: url(../images/services/conditioner_6.svg);
  left: -50px;
}

/*=============================Key===============================*/
/*=============================Key===============================*/
.key {
  position: relative;
}
.key::after {
  position: absolute;
  content: url(../images/key/key_background.svg);
  left: 100px;
  top: 100px;
  z-index: -1;
}
.key__inner {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.key__header {
  font-family: "Ruberoid";
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  color: #495E4C;
  position: relative;
  max-width: 867px;
}
.key__header::after {
  position: absolute;
  content: url(../images/key/key_line.svg);
  bottom: 10px;
  right: -10px;
}
.key__content-block {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr 1fr;
  height: 306px;
  gap: 35px 47px;
  margin-top: 85px;
}
.key__cell {
  height: 135px;
}
.key__cell-container {
  height: 92px;
  position: relative;
  border-radius: 25px 25px 0 0;
}
.key__cell-container img {
  width: 257px;
  height: 92px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 35%;
     object-position: 100% 35%;
  border-radius: 25px 25px 0 0;
}
.key__img-text {
  position: absolute;
  left: 0;
  top: 14px;
  font-family: "ProximaNova";
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #495D4C;
  height: 28px;
  width: 119px;
  background: #D9FADD;
  border-radius: 0px 10px 10px 0;
}
.key__cell-text {
  height: 43px;
  font-family: "Ruberoid";
  font-size: 16px;
  font-weight: 400;
  line-height: 43px;
  color: #78C081;
  border-radius: 0 0 25px 25px;
  -webkit-box-shadow: 0px 10px 10px 0 rgba(73, 93, 76, 0.1);
          box-shadow: 0px 10px 10px 0 rgba(73, 93, 76, 0.1);
  padding-left: 15px;
  background: #FFFFFF;
}
.key__cell-text5 {
  line-height: 21px;
}

/*=============================Step===============================*/
/*=============================Step===============================*/
.step {
  padding-top: 50px;
  padding-bottom: 50px;
  /*=============================Step__Content===============================*/
  /*=============================Step__Content===============================*/
}
.step__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.step__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 200px;
}
.step__header-title {
  font-family: "Ruberoid";
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  color: #495E4C;
  max-width: 516px;
  white-space: nowrap;
  position: relative;
}
.step__header-title::after {
  position: absolute;
  top: -13px;
  right: -5px;
  content: url(../images/step/step_line.svg);
}
.step__header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 564px;
}
.step__info-title {
  font-family: "Ruberoid";
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: #78C081;
  padding-bottom: 12px;
}
.step__info-block {
  padding-left: 28px;
}
.step__info-text {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #495E4C;
  position: relative;
  color: #7CA381;
  padding-bottom: 10px;
}
.step__info-text:last-child {
  padding-bottom: 0;
}
.step__info-text::before {
  position: absolute;
  left: -27px;
  content: url(../images/step/step_fan.svg);
}
.step__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
  position: relative;
}
.step__content::before {
  position: absolute;
  top: -150px;
  right: -140px;
  content: url(../images/step/step_footer.svg);
}
.step__content-text {
  margin-right: 278px;
  font-family: "ProximaNova";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
.step__content-text:nth-child(2) {
  margin-right: 291px;
}
.step__content-text:last-child {
  margin-right: 0;
}
.step__feedback {
  background: -150px 0px/cover no-repeat url("../images/application.svg"), -webkit-gradient(linear, left top, left bottom, from(#D9FADD));
  background: -150px 0px/cover no-repeat url("../images/application.svg"), -o-linear-gradient(#D9FADD);
  background: -150px 0px/cover no-repeat url("../images/application.svg"), linear-gradient(#D9FADD);
}
.step__feedback-inner {
  padding-bottom: 58px;
}
.step__feedback-header {
  font-family: "Ruberoid";
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  color: #495E4C;
  padding-top: 50px;
  padding-bottom: 33px;
  color: #495E4C;
}
.step__feedback-formula {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  font-family: "ProximaNova";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(124, 163, 129, 0.6980392157);
}
.step__feedback-formula:nth-child(2) {
  margin-right: 60px;
}
.step__feedback-btn {
  background: #5CCD6A;
  font-family: "Ruberoid";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 190px;
  height: 55px;
  border-radius: 17px;
  color: #FFFFFF;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
          box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
}
.step__feedback-btn:hover {
  background: #54E165;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.step__formula {
  height: 57px;
  width: 290px;
  border-radius: 15px;
  padding: 20px;
}

/*=============================About===============================*/
.about {
  padding-top: 50px;
  padding-bottom: 50px;
  /*=========================About__info============================*/
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__header {
  position: relative;
  max-width: 531px;
  padding: 45px 33px 45px 33px;
  border-radius: 50px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(73, 93, 76, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(73, 93, 76, 0.1);
}
.about__header::before {
  content: url(../images/about_ellipse.svg);
  position: absolute;
  z-index: -1;
  top: -25%;
  left: -25%;
}
.about__header::after {
  content: "PASCAL VENT";
  position: absolute;
  font-family: "Ruberoid";
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  color: #78C081;
  top: 61px;
  left: calc(50% - 78px);
}
.about__header-title {
  font-family: "Ruberoid";
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  color: #495E4C;
  position: relative;
  padding-bottom: 20px;
}
.about__header-title::after {
  content: url(../images/about_line.svg);
  position: absolute;
  left: 33%;
  top: -2px;
}
.about__header-txt {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #495E4C;
  color: #848484;
}
.about__txt {
  padding-bottom: 34px;
}
.about__txt-bold {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #495E4C;
}
.about__info {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 90px;
  height: 320px;
}
.about__info-cell {
  position: relative;
  text-align: center;
  height: 115px;
}
.about__info-cell::before {
  content: url(../images/about_ellipse-grid.svg);
  position: absolute;
  top: -100px;
  left: -50px;
}
.about__cell-title {
  font-family: "Ruberoid";
  font-size: 26px;
  font-weight: 400;
  line-height: 35.5px;
  color: #495E4C;
  color: #78C081;
  padding-bottom: 15px;
}
.about__cell-txt {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #495E4C;
  color: #7CA381;
  max-width: 198px;
}

/*==============================Comfort==============================*/
/*==============================Comfort==============================*/
.comfort {
  padding-top: 50px;
  padding-bottom: 50px;
}
.comfort__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comfort__content {
  max-width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.comfort__content-header {
  font-family: "Ruberoid";
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  color: #495E4C;
}
.comfort__content-svg {
  margin-top: 28px;
  margin-bottom: 35px;
}
.comfort__content-list {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #495E4C;
  color: #7CA381;
  padding-left: 25px;
}
.comfort__content-txt {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #495E4C;
  color: #848484;
}
.comfort__content-txt span {
  font-weight: 600;
}
.comfort__content-btn {
  background: #5CCD6A;
  font-family: "Ruberoid";
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  width: 447px;
  height: 85px;
  border-radius: 30px;
  color: #FFFFFF;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
          box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
  margin-top: 50px;
}
.comfort__content-btn:hover {
  background: #54E165;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.comfort__list-item {
  position: relative;
  padding-bottom: 15px;
}
.comfort__list-item::before {
  content: url(../images/comfort/comfort_circle.svg);
  position: absolute;
  left: -25px;
}
.comfort__list-item:last-child {
  padding-bottom: 25px;
}
.comfort__svg {
  margin-right: 15px;
}
.comfort__svg:last-child {
  margin-right: 0;
}
.comfort__images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 575px;
}
.comfort__images::before {
  content: url(../images/comfort/comfort_Ellipse.svg);
  position: absolute;
  z-index: -1;
  left: -250px;
}
.comfort__images-lt {
  margin-right: 30px;
  margin-bottom: 20px;
}
.comfort__images-lt img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 35% 50%;
     object-position: 35% 50%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.3);
  border-radius: 39px;
  width: 273px;
  height: 358px;
}
.comfort__images-lb img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 35% 50%;
     object-position: 35% 50%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.3);
  border-radius: 39px;
  width: 273px;
  height: 424px;
}
.comfort__images-rt img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 35% 50%;
     object-position: 35% 50%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.3);
  border-radius: 39px;
  width: 267px;
  height: 350px;
}
.comfort__images-rb {
  margin-top: 30px;
}
.comfort__images-rb img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 35% 50%;
     object-position: 35% 50%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.3);
  border-radius: 39px;
  width: 267px;
  height: 294px;
}

/*==============================Plan==============================*/
/*==============================Plan==============================*/
.plan {
  padding-top: 50px;
  padding-bottom: 50px;
  /*==============================Body==============================*/
}
.plan__inner {
  position: relative;
}
.plan__inner::before {
  content: url(../images/plan_background.svg);
  position: absolute;
  right: 15%;
  bottom: -50px;
  z-index: -1;
}
.plan__header {
  font-family: "Ruberoid";
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  color: #495E4C;
  padding-bottom: 99px;
}
.plan__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.plan__body-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.plan__body-end {
  font-family: "Ruberoid";
  font-size: 35px;
  font-weight: 400;
  line-height: 47px;
  color: #495E4C;
  color: #78C081;
  margin-top: 147px;
}
.plan__left {
  margin-bottom: 220px;
}
.plan__left:nth-child(2) {
  margin-bottom: 172px;
}
.plan__left:nth-child(3) {
  margin-bottom: 0;
}
.plan__left-title {
  font-family: "Ruberoid";
  font-size: 35px;
  font-weight: 400;
  line-height: 47px;
  color: #495E4C;
  color: #78C081;
  margin-bottom: 15px;
}
.plan__left-txt {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #495E4C;
}
.plan__steps-right {
  margin-top: 126px;
}
.plan__right {
  text-align: right;
  margin-bottom: 233px;
}
.plan__right:nth-child(2) {
  margin-bottom: 228px;
}
.plan__right:nth-child(3) {
  margin-bottom: 0;
}
.plan__right-title {
  font-family: "Ruberoid";
  font-size: 35px;
  font-weight: 400;
  line-height: 47px;
  color: #495E4C;
  color: #78C081;
  margin-bottom: 15px;
}
.plan__right-txt {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #495E4C;
}

/*==============================Portfolio==============================*/
/*==============================Portfolio==============================*/
.portfolio {
  padding-top: 50px;
  padding-bottom: 50px;
  /*===========================Portfolio_Body============================*/
  /*===========================Portfolio_slider============================*/
}
.portfolio__inner {
  min-width: 0;
}
.portfolio__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 111px;
}
.portfolio__header-title {
  font-family: "Ruberoid";
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  color: #495E4C;
  max-width: 402px;
}
.portfolio__header-txt {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #495E4C;
  color: #848484;
  max-width: 641px;
}
.portfolio__body {
  width: 1305px;
  height: 456px;
  overflow: hidden;
}
.portfolio__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio__arrow {
  height: 34px;
  width: 34px;
  background-color: #5CCD6A;
  border-radius: 50%;
}
.portfolio__arrow-prev {
  position: relative;
  margin-right: 30px;
}
.portfolio__arrow-prev span:first-child {
  position: absolute;
  display: block;
  height: 10px;
  width: 3.5px;
  border-radius: 3px;
  background-color: #FF6433;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  rotate: 45deg;
  top: 32.5%;
  left: calc(50% - 2px);
}
.portfolio__arrow-prev span:last-child {
  position: absolute;
  display: block;
  height: 10px;
  width: 3.5px;
  border-radius: 3px;
  background-color: #FF6433;
  rotate: -45deg;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  top: 47.5%;
  left: calc(50% - 2px);
}
.portfolio__arrow-next {
  position: relative;
}
.portfolio__arrow-next span:first-child {
  position: absolute;
  display: block;
  height: 10px;
  width: 3.5px;
  border-radius: 3px;
  background-color: #FF6433;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  rotate: 45deg;
  top: 47.5%;
  left: calc(50% - 0.75px);
}
.portfolio__arrow-next span:last-child {
  position: absolute;
  display: block;
  height: 10px;
  width: 3.5px;
  border-radius: 3px;
  background-color: #FF6433;
  rotate: -45deg;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  top: 32.5%;
  left: calc(50% - 0.75px);
}
.portfolio__content {
  position: relative;
}
.portfolio__content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 270px;
  height: 456px;
  border-radius: 35px;
}
.portfolio__content-logo {
  position: absolute;
  left: 0;
  top: 35px;
  width: 169px;
  height: 49px;
  border-radius: 0 15px 15px 0;
  background: 30px 7px/70% 70% no-repeat url("../images/logo.svg"), -webkit-gradient(linear, left top, left bottom, from(#D9FADD));
  background: 30px 7px/70% 70% no-repeat url("../images/logo.svg"), -o-linear-gradient(#D9FADD);
  background: 30px 7px/70% 70% no-repeat url("../images/logo.svg"), linear-gradient(#D9FADD);
}
.portfolio__content-block {
  position: absolute;
  bottom: 45px;
  left: 40px;
}
.portfolio__content-title {
  font-family: "Ruberoid";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #495E4C;
  color: #FFFFFF;
}
.portfolio__content-txt {
  display: none;
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #495E4C;
  color: #FFFFFF;
}

/* .swiper-slide {
    margin-right: 30px;
} */
.swiper-slide.portfolio__content {
  max-width: 270px;
}

.swiper-slide-active.swiper-slide img {
  width: 500px;
}

.swiper-slide-next.swiper-slide {
  margin-left: 230px;
}

.swiper-slide-prev.swiper-slide {
  min-width: 500px;
}
.swiper-slide-prev.swiper-slide img {
  width: 500px;
}

/*===========================Clients============================*/
/*===========================Clients============================*/
.clients {
  padding-top: 50px;
  padding-bottom: 100px;
  /*=========================Clients_slider==========================*/
}
.clients__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 156px;
}
.clients__inner::before {
  position: absolute;
  content: url(../images/clients/clients_back.svg);
  top: 0;
  left: -135px;
  z-index: -1;
}
.clients__header {
  text-align: left;
  max-width: 632px;
  margin-right: 71px;
}
.clients__header-title {
  font-family: "Ruberoid";
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  color: #495E4C;
  margin-bottom: 25px;
}
.clients__header-txt {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #495E4C;
  color: #848484;
}
.clients__content {
  padding-top: 123px;
  /* position: absolute; */
  margin-right: -300px;
}
.clients__slider {
  width: 602px;
  overflow: hidden;
}
.clients__slider-item {
  max-width: 258px;
  padding: 35px 38px;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.clients__slider-item img {
  width: 188px;
  height: 40px;
}

/*===========================Footer============================*/
/*===========================Footer============================*/
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.footer__inner::before {
  content: url(../images/footer/footer_back.svg);
  position: absolute;
  z-index: -1;
  left: -135px;
}
.footer__about {
  padding-top: 86px;
  padding-bottom: 50px;
  max-width: 406px;
  margin-right: 120px;
}
.footer__about-logo img {
  width: 352px;
  height: 109px;
}
.footer__about-txt {
  font-family: "ProximaNova";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #495E4C;
  color: #7CA381;
  margin-top: 30px;
  margin-bottom: 61px;
}
.footer__about-title {
  position: relative;
  font-family: "Ruberoid";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #495E4C;
  color: #495D4C;
}
.footer__about-title span {
  font-family: "Ruberoid";
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  color: #495E4C;
  color: #78C081;
}
.footer__about-title::before {
  content: url(../images/footer/footer_line.svg);
  position: absolute;
  top: -49px;
}
.footer__contacts {
  padding-top: 22px;
  max-width: 230px;
  margin-right: 133px;
}
.footer__contacts-title {
  font-family: "Ruberoid";
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  color: #495E4C;
  margin-bottom: 25px;
}
.footer__contacts-txt {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #495E4C;
  color: #7B897D;
}
.footer__phone1 {
  margin-bottom: 31px;
  position: relative;
}
.footer__phone1::before {
  content: url(../images/footer/footer_phone.svg);
  position: absolute;
  left: -37px;
}
.footer__phone1::after {
  content: url(../images/footer/footer_line_contacts.svg);
  position: absolute;
  left: -37px;
  bottom: -15px;
}
.footer__phone2 {
  margin-bottom: 31px;
  position: relative;
}
.footer__phone2::before {
  content: url(../images/footer/footer_phone.svg);
  position: absolute;
  left: -37px;
}
.footer__phone2::after {
  content: url(../images/footer/footer_line_contacts.svg);
  position: absolute;
  left: -37px;
  bottom: -15px;
}
.footer__email {
  position: relative;
  margin-bottom: 43px;
}
.footer__email::before {
  content: url(../images/footer/footer_letter.svg);
  position: absolute;
  left: -37px;
}
.footer__email::after {
  content: url(../images/footer/footer_line_contacts.svg);
  position: absolute;
  left: -37px;
  bottom: -15px;
}
.footer__hours {
  position: relative;
  margin-bottom: 15px;
}
.footer__hours::before {
  content: url(../images/footer/footer_calendar.svg);
  position: absolute;
  left: -37px;
}
.footer__geo {
  position: relative;
}
.footer__geo::before {
  content: url(../images/footer/footer_geolocation.svg);
  position: absolute;
  left: -37px;
}
.footer__request {
  padding-top: 22px;
}
.footer__request-title {
  font-family: "Ruberoid";
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  color: #495E4C;
  margin-bottom: 25px;
}
.footer__form {
  height: 49px;
  width: 290px;
  border-radius: 15px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(73, 93, 76, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(73, 93, 76, 0.1);
  margin-bottom: 20px;
}
.footer__btn {
  background: #5CCD6A;
  font-family: "Ruberoid";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  width: 209px;
  height: 55px;
  border-radius: 17px;
  color: #FFFFFF;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
          box-shadow: 0px 0px 10px 10px rgba(120, 192, 129, 0.25);
  margin-top: 20px;
}
.footer__btn:hover {
  background: #54E165;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}