@import "reset";
@import "fonts";
@import "mixins";

/*========================General======================*/
/*========================General======================*/

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1201px;
    padding: 0 15px;
    margin: 0 auto;
}

.heading {
    @include style-heading;
}

.title-h2 {
    @include title-h2;
}

/*========================Header======================*/
/*========================Header__Top=================*/

.header {
    background: 700px 0px / cover no-repeat url("../images/header/header__picture.jpg"),
        linear-gradient(180deg,
            #F1F1F1 0%, #F0F2F1 16.25%, #EBEDEC 43.26%,
            #E6E8E7 72.5%, #DEE2E1 100%);

    &__top {
        position: relative;
        padding-top: 26px;
    }

    &__top-inner {
        display: flex;
        align-items: center;
        max-width: 1350px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__top-logo {
        margin-right: 156px;
    }

    &__menu {
        display: flex;
        min-width: 646px;
        margin-right: 142px;
    }

    &__menu-item {
        margin-right: 40px;
    }

    &__menu-a {
        @include fonts-menu;
    }

    &__menu-item:last-child {
        margin-right: 0px;
    }

    &__top-btn {
        @include button-active;

        &:hover {
            @include btn-hover;
        }
    }

    /*========================Header__Body=================*/

    &__body {
        padding-top: 85px;
        position: relative;
    }

    &__body-inner {
        display: flex;
        max-width: 523px;
        flex-direction: column;
        align-items: center;
    }

    &__body-title {
        text-align: right;
        color: #495E4C;
    }

    &__body-company {
        margin-top: 5px;
        color: #78C081;
    }

    &__body-text {
        position: relative;
        padding-left: 50px;
        text-align: left;
        @include fonts-menu ($fz: 22px, $fw: 400, $lh: 32px);
        color: #7CA381;
        margin-bottom: 52px;

        &::before {
            content: url(../images/header/3_ellipse.svg);
            position: absolute;
            top: -2px;
            left: -12px;
        }
    }

    &__body-connection {
        display: flex;
        @include fonts-menu ($fz: 16px, $fw: 400, $lh: 24px);
        color: #7B897D;
    }

    &__connection-geo {
        position: relative;
        margin-right: 127px;

        &::before {
            position: absolute;
            content: url(../images/header/header_geolocation.svg);
            left: -48px;
            top: 8px;
        }
    }

    &__connection-number {
        position: relative;

        &::before {
            position: absolute;
            content: url(../images/header/header_phone2.svg);
            left: -54px;
            top: 8px;
        }
    }

    &__body-button {
        align-self: flex-start;
        margin-top: 78px;
        padding-bottom: 79px;
    }

    &__body-btn {
        @include button-active ($width: 447px, $height: 85px, $br: 30px,
            $fz: 17px, $fw: 400, $lh: 23px);

        &:hover {
            @include btn-hover;
        }
    }
}

/*========================Services======================*/
/*========================Services__about================*/

.services {
    &__inner {
        display: flex;
    }

    &__about {
        max-width: 447px;
        margin-top: 169px;
        margin-right: 110px;
    }

    &__about-title {
        position: relative;
        color: #495E4C;

        &::before {
            content: url(../images/services/services_line.svg);
            position: absolute;
            right: 0px;
            bottom: 12px;
        }
    }

    &__about-txt {
        @include fonts-menu (16px, 400, 26px);
        color: #848484;
        margin-top: 22px;
    }

    &__text {
        margin-bottom: 37px;
    }

    /*====================Services__details==================*/

    &__details {
        padding-top: 100px;
        padding-bottom: 50px;
        display: flex;
        align-items: center;
    }

    &__tabs {
        display: flex;
        flex-direction: column;
    }

    &__tabs-fan {
        position: relative;
        @include btn-def ($width: 65px, $height: 233px, $br: 17px,
            $fz: 14px, $fw: 400, $lh: 100%);
        border-radius: 40px 0 0 0;
        box-shadow: -5px -5px 0px 5px #D9FADD;
    }

    &__tabs-cond {
        position: relative;
        @include btn-def ($width: 65px, $height: 233px, $br: 17px,
            $fz: 14px, $fw: 400, $lh: 100%);
        border-radius: 0 0 0 40px;
        box-shadow: -5px 5px 0px 5px #D9FADD;
    }

    &__btn-def.active {
        @include btn-act ($width: 65px, $height: 233px,
            $fz: 14px, $fw: 400, $lh: 100%);
        transition: 1s all;
    }

    &__btn-fan {
        position: absolute;
        rotate: -90deg;
        font-family: "ProximaNova";
        white-space: nowrap;
        right: -35px;
        bottom: 85px;

        &::after {
            position: absolute;
            content: url(../images/services/services_fan.svg);
            right: -50px;
            top: -8px;
        }
    }

    &__btn-cond {
        position: absolute;
        rotate: -90deg;
        font-family: "ProximaNova";
        white-space: nowrap;
        right: -35px;
        bottom: 85px;

        &::after {
            position: absolute;
            content: url(../images/services/services_conditioner.svg);
            rotate: 90deg;
            right: -50px;
            top: -8px;
        }
    }

    &__content {
        height: 655px;
        width: 676px;
    }

    &__content-block {
        display: none;
        position: relative;
        background: linear-gradient(#D9FADD);
        border-radius: 65px 0 0 65px;

        &.active {
            display: block;
        }
    }

    &__container {
        position: relative;
        max-width: 307px;
        height: 655px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 89px;
        padding-top: 113px;
        padding-bottom: 114px;
        /* transition: .5s all; */
    }

    &__fan-txt {
        @include fonts-menu ($fz: 20px, $fw: 400, $lh: 30px)
    }

    &__fan-pic1::before {
        position: absolute;
        content: url(../images/services/fan_1.svg);
        left: -50px;
    }

    &__fan-pic2::before {
        position: absolute;
        content: url(../images/services/fan_2.svg);
        left: -50px;
    }

    &__fan-pic3::before {
        position: absolute;
        content: url(../images/services/fan_3.svg);
        left: -50px;
    }

    &__fan-pic4::before {
        position: absolute;
        content: url(../images/services/fan_4.svg);
        left: -50px;
    }

    &__fan-pic5::before {
        position: absolute;
        content: url(../images/services/fan_5.svg);
        left: -50px;
    }

    &__fan-pic6::before {
        position: absolute;
        content: url(../images/services/fan_6.svg);
        left: -50px;
    }

    &__fan-img {
        box-shadow: -4px 0px rgba(15, 44, 15, 0.35);
    }

    &__fan-img img {
        top: 0;
        right: 0;
        position: absolute;
        width: 240px;
        height: 655px;
        object-fit: cover;
        object-position: 61.5% 50%;
        border-radius: 65px 0 0 65px;
        box-shadow: -4px 0px 10px 1px rgba(15, 44, 15, 0.35);
    }

    &__cond-txt {
        @include fonts-menu ($fz: 20px, $fw: 400, $lh: 30px)
    }

    &__cond-img {
        box-shadow: -4px 0px rgba(15, 44, 15, 0.35);
    }

    &__cond-img img {
        top: 0;
        right: 0;
        position: absolute;
        width: 240px;
        height: 655px;
        object-fit: cover;
        object-position: 61.5% 50%;
        border-radius: 65px 0 0 65px;
        box-shadow: -4px 0px 10px 1px rgba(15, 44, 15, 0.35);
    }

    &__cond-pic1::before {
        position: absolute;
        content: url(../images/services/conditioner_1.svg);
        left: -50px;
    }

    &__cond-pic2::before {
        position: absolute;
        content: url(../images/services/conditioner_2.svg);
        left: -50px;
    }

    &__cond-pic3::before {
        position: absolute;
        content: url(../images/services/conditioner_3.svg);
        left: -50px;
    }

    &__cond-pic4::before {
        position: absolute;
        content: url(../images/services/conditioner_4.svg);
        left: -50px;
    }

    &__cond-pic5::before {
        position: absolute;
        content: url(../images/services/conditioner_5.svg);
        left: -50px;
    }

    &__cond-pic6::before {
        position: absolute;
        content: url(../images/services/conditioner_6.svg);
        left: -50px;
    }
}

/*=============================Key===============================*/
/*=============================Key===============================*/

.key {
    position: relative;

    &::after {
        position: absolute;
        content: url(../images/key/key_background.svg);
        left: 100px;
        top: 100px;
        z-index: -1;
    }

    &__inner {
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__header {
        @include title-h2;
        position: relative;
        max-width: 867px;

        &::after {
            position: absolute;
            content: url(../images/key/key_line.svg);
            bottom: 10px;
            right: -10px;
        }
    }

    &__content-block {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
        height: 306px;
        gap: 35px 47px;
        margin-top: 85px;
    }

    &__cell {
        height: 135px;
    }

    &__cell-container {
        height: 92px;
        position: relative;
        border-radius: 25px 25px 0 0;
    }

    &__cell-container img {
        width: 257px;
        height: 92px;
        object-fit: cover;
        object-position: 100% 35%;
        border-radius: 25px 25px 0 0;
    }

    &__img-text {
        position: absolute;
        left: 0;
        top: 14px;
        font-family: "ProximaNova";
        font-size: 15px;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        color: #495D4C;
        height: 28px;
        width: 119px;
        background: #D9FADD;
        border-radius: 0px 10px 10px 0;
    }

    &__cell-text {
        height: 43px;
        font-family: "Ruberoid";
        font-size: 16px;
        font-weight: 400;
        line-height: 43px;
        color: #78C081;
        border-radius: 0 0 25px 25px;
        box-shadow: 0px 10px 10px 0 rgba(73, 93, 76, 0.1);
        padding-left: 15px;
        background: #FFFFFF;
    }

    &__cell-text5 {
        line-height: 21px;
    }
}

/*=============================Step===============================*/
/*=============================Step===============================*/

.step {
    padding-top: 50px;
    padding-bottom: 50px;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 200px;

        &-title {
            @include title-h2;
            max-width: 516px;
            white-space: nowrap;
            position: relative;

            &::after {
                position: absolute;
                top: -13px;
                right: -5px;
                content: url(../images/step/step_line.svg);
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            max-width: 564px;
        }
    }

    &__info {
        &-title {
            font-family: "Ruberoid";
            font-size: 26px;
            font-weight: 400;
            line-height: 35px;
            text-align: left;
            color: #78C081;
            padding-bottom: 12px;
        }

        &-block {
            padding-left: 28px;
        }

        &-text {
            @include fonts-menu ($fz: 16px, $fw: 400, $lh: 19.5px);
            position: relative;
            color: #7CA381;
            padding-bottom: 10px;

            &:last-child {
                padding-bottom: 0;
            }

            &::before {
                position: absolute;
                left: -27px;
                content: url(../images/step/step_fan.svg);
            }
        }
    }

    /*=============================Step__Content===============================*/

    &__content {
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        position: relative;

        &::before {
            position: absolute;
            top: -150px;
            right: -140px;
            content: url(../images/step/step_footer.svg);
        }

        &-text {
            margin-right: 278px;
            font-family: "ProximaNova";
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;

            &:nth-child(2) {
                margin-right: 291px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    /*=============================Step__Content===============================*/
    &__feedback {
        background: -150px 0px / cover no-repeat url("../images/application.svg"),
            linear-gradient(#D9FADD);

        &-inner {
            padding-bottom: 58px;
        }

        &-header {
            @include title-h2;
            padding-top: 50px;
            padding-bottom: 33px;
            color: #495E4C;
        }

        &-formula {
            display: flex;
            margin-right: 30px;
            font-family: "ProximaNova";
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: #7CA381B2;

            &:nth-child(2) {
                margin-right: 60px;
            }
        }

        &-btn {
            @include button-active;

            &:hover {
                @include btn-hover;
            }
        }
    }

    &__formula {
        height: 57px;
        width: 290px;
        border-radius: 15px;
        padding: 20px;
    }

    &__btn-txt {}
}

/*=============================About===============================*/

.about {
    padding-top: 50px;
    padding-bottom: 50px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header {
        position: relative;
        max-width: 531px;
        padding: 45px 33px 45px 33px;
        border-radius: 50px;
        background: #FFF;
        box-shadow: 0px 0px 10px 0px rgba(73, 93, 76, 0.1);

        &::before {
            content: url(../images/about_ellipse.svg);
            position: absolute;
            z-index: -1;
            top: -25%;
            left: -25%;
        }

        &::after {
            content: "PASCAL VENT";
            position: absolute;
            font-family: "Ruberoid";
            font-size: 21px;
            font-weight: 400;
            line-height: 28px;
            color: #78C081;
            top: 61px;
            left: calc(50% - 78px);
        }

        &-title {
            @include title-h2;
            position: relative;
            padding-bottom: 20px;

            &::after {
                content: url(../images/about_line.svg);
                position: absolute;
                left: 33%;
                top: -2px;
            }
        }

        &-txt {
            @include fonts-menu ($fz: 16px, $fw: 400, $lh: 26px);
            color: #848484;
        }
    }

    &__txt {
        padding-bottom: 34px;

        &-bold {
            @include fonts-menu ($fz: 16px, $fw: 600, $lh: 26px);
        }
    }

    /*=========================About__info============================*/


    &__info {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: 90px;
        height: 320px;

        &-cell {
            position: relative;
            text-align: center;
            height: 115px;

            &::before {
                content: url(../images/about_ellipse-grid.svg);
                position: absolute;
                top: -100px;
                left: -50px;
            }
        }
    }

    &__cell {
        &-title {
            @include fonts-rub ($fz: 26px, $fw: 400, $lh: 35.5px);
            color: #78C081;
            padding-bottom: 15px;
        }

        &-txt {
            @include fonts-menu ($fz: 16px, $fw: 400, $lh: 26px);
            color: #7CA381;
            max-width: 198px;
        }
    }
}

/*==============================Comfort==============================*/
/*==============================Comfort==============================*/

.comfort {
    padding-top: 50px;
    padding-bottom: 50px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 520px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-header {
            @include title-h2;
        }

        &-svg {
            margin-top: 28px;
            margin-bottom: 35px;
        }

        &-list {
            @include fonts-menu ($fz: 16px, $fw: 400, $lh: 19.5px);
            color: #7CA381;
            padding-left: 25px;
        }

        &-txt {
            @include fonts-menu ($fz: 16px, $fw: 400, $lh: 26px);
            color: #848484;

            & span {
                font-weight: 600;
            }
        }

        &-btn {
            @include button-active ($width: 447px, $height: 85px, $br: 30px,
                $fz: 17px, $fw: 400, $lh: 23px);
            margin-top: 50px;

            &:hover {
                @include btn-hover;
            }
        }
    }

    &__list-item {
        position: relative;
        padding-bottom: 15px;

        &::before {
            content: url(../images/comfort/comfort_circle.svg);
            position: absolute;
            left: -25px;
        }

        &:last-child {
            padding-bottom: 25px;
        }
    }

    &__svg {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__images {
        position: relative;
        display: flex;
        align-items: center;
        width: 575px;

        &::before {
            content: url(../images/comfort/comfort_Ellipse.svg);
            position: absolute;
            z-index: -1;
            left: -250px;
        }

        &-lt {
            margin-right: 30px;
            margin-bottom: 20px;

            & img {
                object-fit: cover;
                object-position: 35% 50%;
                box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.3);
                border-radius: 39px;
                width: 273px;
                height: 358px;
            }
        }

        &-lb img {
            object-fit: cover;
            object-position: 35% 50%;
            box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.3);
            border-radius: 39px;
            width: 273px;
            height: 424px;
        }

        &-rt img {
            object-fit: cover;
            object-position: 35% 50%;
            box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.3);
            border-radius: 39px;
            width: 267px;
            height: 350px;
        }

        &-rb {
            margin-top: 30px;

            & img {
                object-fit: cover;
                object-position: 35% 50%;
                box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.3);
                border-radius: 39px;
                width: 267px;
                height: 294px;
            }
        }
    }

}

/*==============================Plan==============================*/
/*==============================Plan==============================*/

.plan {
    padding-top: 50px;
    padding-bottom: 50px;

    &__inner {
        position: relative;

        &::before {
            content: url(../images/plan_background.svg);
            position: absolute;
            right: 15%;
            bottom: -50px;
            z-index: -1;
        }
    }

    &__header {
        @include title-h2;
        padding-bottom: 99px;
    }

    /*==============================Body==============================*/

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-steps {
            display: flex;
            justify-content: space-between;
        }

        &-end {
            @include fonts-rub ($fz: 35px, $fw: 400, $lh: 47px);
            color: #78C081;
            margin-top: 147px;
        }
    }

    &__left {
        margin-bottom: 220px;

        &:nth-child(2) {
            margin-bottom: 172px;
        }

        &:nth-child(3) {
            margin-bottom: 0;
        }

        &-title {
            @include fonts-rub ($fz: 35px, $fw: 400, $lh: 47px);
            color: #78C081;
            margin-bottom: 15px;
        }

        &-txt {
            @include fonts-menu ($fz: 16px, $fw: 400, $lh: 26px);
        }
    }

    &__steps-right {
        margin-top: 126px;
    }

    &__right {
        text-align: right;
        margin-bottom: 233px;

        &:nth-child(2) {
            margin-bottom: 228px;
        }

        &:nth-child(3) {
            margin-bottom: 0;
        }

        &-title {
            @include fonts-rub ($fz: 35px, $fw: 400, $lh: 47px);
            color: #78C081;
            margin-bottom: 15px;
        }

        &-txt {
            @include fonts-menu ($fz: 16px, $fw: 400, $lh: 26px);
        }
    }
}

/*==============================Portfolio==============================*/
/*==============================Portfolio==============================*/

.portfolio {
    padding-top: 50px;
    padding-bottom: 50px;

    &__inner {
        min-width: 0;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 111px;

        &-title {
            @include title-h2;
            max-width: 402px;
        }

        &-txt {
            @include fonts-menu ($fz: 16px, $fw: 400, $lh: 26px);
            color: #848484;
            max-width: 641px;
        }
    }

    /*===========================Portfolio_Body============================*/

    &__body {
        width: 1305px;
        height: 456px;
        overflow: hidden;
    }

    &__arrows {
        display: flex;
    }

    &__arrow {
        height: 34px;
        width: 34px;
        background-color: #5CCD6A;
        border-radius: 50%;

        &-prev {
            position: relative;
            margin-right: 30px;

            & span:first-child {
                position: absolute;
                display: block;
                height: 10px;
                width: 3.5px;
                border-radius: 3px;
                background-color: #FF6433;
                transition: all 0.4s;
                rotate: 45deg;
                top: 32.5%;
                left: calc(50% - 2px);
            }

            & span:last-child {
                position: absolute;
                display: block;
                height: 10px;
                width: 3.5px;
                border-radius: 3px;
                background-color: #FF6433;
                rotate: -45deg;
                transition: all 0.4s;
                top: 47.5%;
                left: calc(50% - 2px);
            }
        }

        &-next {
            position: relative;

            & span:first-child {
                position: absolute;
                display: block;
                height: 10px;
                width: 3.5px;
                border-radius: 3px;
                background-color: #FF6433;
                transition: all 0.4s;
                rotate: 45deg;
                top: 47.5%;
                left: calc(50% - .75px);
            }

            & span:last-child {
                position: absolute;
                display: block;
                height: 10px;
                width: 3.5px;
                border-radius: 3px;
                background-color: #FF6433;
                rotate: -45deg;
                transition: all 0.4s;
                top: 32.5%;
                left: calc(50% - .75px);
            }
        }
}

    /*===========================Portfolio_slider============================*/

    &__content {
        position: relative;

        & img {
            object-fit: cover;
            width: 270px;
            height: 456px;
            border-radius: 35px;
        }

        &-logo {
            position: absolute;
            left: 0;
            top: 35px;
            width: 169px;
            height: 49px;
            border-radius: 0 15px 15px 0;
            background: 30px 7px / 70% 70% no-repeat url("../images/logo.svg"),
                linear-gradient(#D9FADD);
        }

        &-block {
            position: absolute;
            bottom: 45px;
            left: 40px;
        }

        &-title {
            @include fonts-rub ($fz: 24px, $fw: 400, $lh: 34px);
            color: #FFFFFF;
        }

        &-txt {
            display: none;
            @include fonts-menu ($fz: 16px, $fw: 400, $lh: 19.5px);
            color: #FFFFFF;
        }
    }
}


.swiper-slide.portfolio__content {
    max-width: 270px;
    flex-shrink: 1;

}

.swiper-slide-active.swiper-slide {
    max-width: 500px;

    & img {
        width: 500px;
    }
}



/*===========================Clients============================*/


.clients {
    padding-top: 50px;
    padding-bottom: 50px;


    &__inner {
        display: flex;
        position: relative;
        padding-top: 156px;

        &::before {
            position: absolute;
            content: url(../images/clients/clients_back.svg);
            top: 0;
            left: -135px;
            z-index: -1;
        }

    }

    &__header {
        text-align: left;
        max-width: 632px;
        margin-right: 71px;

        &-title {
            @include title-h2;
            margin-bottom: 25px;
        }

        &-txt {
            @include fonts-menu ($fz: 16px, $fw: 400, $lh: 26px);
            color: #848484;
        }
    }

    /*=========================Clients_slider==========================*/

    &__content {
        padding-top: 123px;

        &-arrows {

        }
    }

    &__arrows-left{
        
        &-switch {

        }

        &-prev {

        }
    }

    &__arrows-right{
        
        &-switch {

        }

        &-next {
        }
    }

    &__slider {

        &-item {
        }
    }
}
